# Xcode build files
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
*.xcworkspace/xcshareddata/swiftpm/

# User-specific Xcode settings
xcuserdata/
*.xcuserstate

# Configuration files
**/Config.swift

# macOS
.DS_Store